# ignore Cordova/PhoneGap CLI directories
# in essence, everything but *.xdk file and www directory
/*
!/www
!/docs
!/config.xml
!/README.md
!/LICENSE.md
!/intelxdk.config.additions.xml
!/*.xdk
!/app.json
!/.gitignore
!/.jscodehints
!/*.png
intelxdk.config.android.xml
intelxdk.config.chrome.xml
intelxdk.config.ios.xml
intelxdk.config.windows.xml
intelxdk.config.windows8.xml
intelxdk.config.wp81.xml

